@import "../variables.scss";

nav {
    width: 100%;
    height: 110px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    gap: 30px;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;

  .icon {
    font-size: 16px;
    cursor: pointer;
    color: #919191;
    margin: 10px;
    transition: 0.3s;

    &:hover {
      color: #007bff;
      transform: scale(1.1);
    }
  }
        select {
            cursor: pointer;
            border: none;
            font-weight: 500;
            outline: none;
            color: $blue;
            font-size: 14px;

            option {
                color: #000;
                cursor: pointer;
            }
        }

        .link {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .link {
        color: #000;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        transition: .3s;
    }
}


.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

    footer {
        width: 100%;
        height: 560px;
        background: $blue;
        color: #fff;
        display: flex;
        align-items: start;
        padding: 30px;
        justify-content: center;
        gap: 50px;

        div {
            margin-top: 50px;
            display: flex;
            align-items: start;
            gap: 15px;
            justify-content: center;
            flex-direction: column;

            h2 {
                font-size: 16px;
                line-height: 26px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
            }

            &:nth-child(1) {
                margin-top: 100px;
            }

            .link {
                color: #fff;
                text-decoration: none;
                font-weight: 600;
                font-size: 18px;
                line-height: 26px;
                transition: .3s;
                letter-spacing: 0;
            }

            .copyright {
                letter-spacing: 0;
                color: $gray;
                font-size: 12px;
                font-weight: 400;
                line-height: 100%;
            }
        }
    }

    section {
        width: 1180px;
        height: 270px;
        background: #fff;
        display: flex;
        align-items: center;
        border-radius: 20px;
        position: relative;
        padding: 30px;
        margin-bottom: -70px;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            left: 0%;
            right: 0;
            top: 0%;
            bottom: 0%;
            height: 100%;
            background: linear-gradient(to right, $orange, $sky);
            filter: blur(7px);
            border-radius: 20px;
            z-index: -1;
        }

        img {
            transform: scaleX(-1);
            object-fit: cover;
            width: 276px;
            margin-left: -50px;
            margin-top: 30px;
        }

        div {
            display: flex;
            align-items: start;
            flex-direction: column;
            height: 190px;
            gap: 30px;
            position: relative;
            background: #fff;
            padding: 20px;
            z-index: 0;

            &::before {
                content: "";
                position: absolute;
                top: -2px;
                left: -2px;
                bottom: -2px;
                right: -2px;
                border-radius: 20px;
                background: linear-gradient(to right, $orange, $sky);
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                z-index: -1;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                bottom: 0px;
                right: 0px;
                border-radius: 20px;
                background: #fff;
                width: 100%;
                height: 100%;
                z-index: -1;

            }
        }

        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            margin-left: 30px;

            .name {
                grid-column-start: 1;
                // width: 440px;
                grid-column-end: 3;
            }

            * {
                width: 100%;
            }

            input {
                // width: 210px;
                border-radius: 6px;
                height: 50px;
                border: none;
                position: relative;
                background: #00093C1A;
                padding: 10px;

                &:focus {
                    outline: $orange solid 2px;
                }
            }

            button {
                border-radius: 6px;
                background: $orange;
                font-size: 14px;
                font-weight: 700;
                height: 50px;
                color: #fff;
                border: none;
                cursor: pointer;
                transition: .3s;

                &:hover {
                    background: $orange-hover;
                }
            }

            p {
                font-size: 10px;
                font-weight: 400;
                line-height: 14px;
            }
        }
    }
}

.home {
    width: 100%;

    .head {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;

        div {
            width: 1032px;
            height: 480px;
            background: $blue;
            position: relative;
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            color: #fff;

            h2 {
                font-size: 36px;
                font-weight: 700;
                line-height: 100%;
                margin-bottom: 20px;
                margin-left: calc(30%);
            }

            h3 {
                margin-left: calc(30%);
                margin-top: 30px;
                font-size: 20px;
                font-weight: 500;
            }

            &::after {
                left: 0%;
                content: "";
                position: absolute;
                width: 1920px;
                height: 100%;
                background: url(../../public/girl.jpg);
                z-index: -1;
            }
        }
    }

    .types {
        padding: 50px 360px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 100px;

        div:first-child {
            img {
                transform: scaleX(-1);
                width: 168px;
            }

            div {
                border-radius: 6px;
                width: 260px;
                position: relative;
                background: #fff;
                padding: 10px;

                &::after {
                    z-index: -1;
                    content: "";
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    bottom: -2px;
                    right: -2px;
                    border-radius: 6px;
                    background: linear-gradient(to right, $orange, $sky);
                    // width: 100%;
                    // height: 100%;
                }

                &::before {
                    content: " ";
                    position: absolute;
                    top: 100%;
                    left: 70%;
                    /* To the right of the tooltip */
                    border-width: 20px;
                    border-style: solid;
                    border-color: $sky transparent transparent transparent;
                    // border-image: linear-gradient(to right, $orange, $sky);
                }
            }
        }

        div:last-child {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            div {
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-between;
                gap: 100px;
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    top: 115%;
                    width: 100%;
                    left: 0%;
                    background: $gray;
                    height: 1px;
                    z-index: -1;
                }

                h2 {
                    display: flex;
                    font-size: 16px;
                    font-weight: 700;
                    cursor: pointer;
                    width: 100%;
                    gap: 5px;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 49px;
                    }
                }
            }
            section {
                margin-top: 70px;
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                h3 {
                    padding: 10px 20px;
                    font-size: 14px;
                    font-weight: 500;
                    text-align: center;
                    background: #fff;
                    border-radius: 6px;
                    box-shadow: -1px 0px 10px $orange, 1px 0px 10px $sky;
                    cursor: pointer;
                    transition: .3s;
                    &:hover {
                        box-shadow: -10px 0px 15px $orange, 10px 0px 15px $sky;

                    }
                }
            }
        }
    }
}

.active1 {
    position: relative;
    &::after {
        position: absolute;
        content: "";
        background: linear-gradient(to right, $orange, $sky);
        height: 8px;
        width: 100%;
        top: 100%;
    }
}