@import "../variables.scss";

nav {
    width: 100%;
    height: 110px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    gap: 30px;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        svg {
            width: calc(8.5px / 3px);
            height: 30px;
            color: $blue;
            fill: $blue;
            cursor: pointer;
        }
        select {
            cursor: pointer;
            border: none;
            font-weight: 500;
            outline: none;
            color: $blue;
            font-size: 14px;
            option {
                color: #000;
                cursor: pointer;
            }
        }
        .link {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .link {
        color: #000;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        transition: .3s;
    }
}


.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    footer {
        width: 100%;
        height: 560px;
        background: $blue;
        color: #fff;
        display: flex;
        align-items: start;
        padding: 30px;
        justify-content: center;
        gap: 50px;
        div {
            margin-top: 50px;
            display: flex;
            align-items: start;
            gap: 15px;
            justify-content: center;
            flex-direction: column;
            h2 {
                font-size: 16px;
                line-height: 26px;
                font-weight: 700;
                margin-bottom: 10px;
            }
            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
            }
            &:nth-child(1) {
                margin-top: 100px;
            }
            .link {
                color: #fff;
                text-decoration: none;
                font-weight: 600;
                font-size: 18px;
                line-height: 26px;
                transition: .3s;
                letter-spacing: 0;
            }
            .copyright {
                letter-spacing: 0;
                color: $gray;
                font-size: 12px;
                font-weight: 400;
                line-height: 100%;
            }
        }
    }
    section {
        width: 1180px;
        height: 270px;
        background: #fff;
        display: flex;
        align-items: center;
        border-radius: 20px;
        position: relative;
        margin-bottom: -70px;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            left: 0%;
            right: 0;
            top: 0%;
            bottom: 0%;
            height: 100%;
            background: linear-gradient(to right, $orange, $sky);
            filter: blur(7px);
            border-radius: 20px;
            z-index: -1;
        }
        img {
            transform: scaleX(-1);
            object-fit: cover;
            width: 276px;
            margin-left: -50px;
            margin-top: 30px;
        }
        div {
            display: flex;
            align-items: start;
            flex-direction: column;
            height: 190px;
            gap: 30px;
            position: relative;
            background: #fff;
            padding: 20px;
            z-index: 3;
            &::before {
                content: "";
                position: absolute;
                top: -2px;
                left: -2px;
                bottom: -2px;
                right: -2px;
                border-radius: 20px;
                background: linear-gradient(to right, $orange, $sky);
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                z-index: -1;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                bottom: 0px;
                right: 0px;
                border-radius: 20px;
                background: #fff;
                width: 100%;
                height: 100%;
                z-index: -1;

            }
        }
    }
}