.home-page {
    height: auto;
    margin: 30px;
}

.about-page {
    height: auto;
    margin: 30px;
}

.events-page {
    height: auto;
    margin: 30px;
}

.contact-page {
    height: auto;
    margin: 30px;
}

.courses-page {
    height: auto;
    margin: 30px;
}